.movie-box {
    padding: 1.5rem 0;
    height: 10rem;
    transition: all .2s;
    display: flex;
    align-items: center;
}

.movie-box:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.movie-box:not(:last-child) {
    border-bottom: 1px solid var(--color-text-light);
}

.movie-box:hover {
    background-color: var(--color-primary);
}

.movie-box:hover .movie-box__icon {
    fill: #fff;
}

.movie-box__poster {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    margin-left: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-box__detail {
    color:black;
    margin-right: auto;
    margin-left: 2rem;
    color: var(--color-text-dark);
}

.movie-box__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.movie-box__year {
    font-size: 1.05rem;
    margin-bottom: auto;
}

.movie-box__btn {
    border: none;
    padding-bottom: 3px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    margin-right: 2rem;
    align-self: stretch;
}

.movie-box__icon {
    width: 3rem;
    height: 3rem;
    fill: var(--color-primary);
}