.layout {
    max-width: 120rem;
    margin: 15rem auto;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    box-shadow: 0 3rem 6rem rgba(0,0,0,.5);

    min-height: 50rem;
}

.movies {
    display: flex;
}